
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
   
}

.container {
    background: linear-gradient(180deg, rgb(4, 55, 92) 1%, rgb(15, 66, 169) 30%, rgb(53, 112, 232) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    height: 100%;
}

.search-city {
    border: 0;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    padding: 10px;
    color: white;
    max-width: 300px;
    font-size: 20px;
}

.search-city:focus {
    border-bottom: 1px solid rgb(198, 198, 198);
}

.search-icon {
    color: white;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
}

.search-icon:hover {
    color: rgb(198, 198, 198);
}

.weather-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.image-content {
    gap: 10px;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
}

.image-content img {
    width: 100%;
    height: 100%;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.weather-info .weather-temperature {
    color: white;
    height: 10px;
    font-size: 35px;
    font-weight: bold; 
}

.weather-info .weather-city {
    position: relative;
    top: -40px;
    color: white;
    height: 10px;
    font-size: 30px;
    font-weight: lighter;
}

.weather-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.wind-content, .humidity-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100px;
    height: 100px;
}

.wind-content img, .humidity-content img {
    width: 60%;
    height: 60%;
}

.wind-content p, .humidity-content p {
    width: 50%;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

//importing core styling file
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Import Font Awesome CSS
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';